<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="Logos/favicon-32x32.png"
    />

    <link rel="apple-touch-icon" href="Logos/apple-touch-icon.png" />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="Logos/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="Logos/android-chrome-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="Logos/android-chrome-512x512.png"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="form-container">
      <h2>
        <a href="/" style="color: rgb(80, 79, 79)"><%= header %> </a> ~
        <a href="/">idempotent</a> <i class="fa-solid fa-arrow-turn-down"></i>
      </h2>
      <% if (message) { %>
      <p class="error-message"><%= message %></p>
      <% } %>
      <form action="/Forget-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
